
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }

  .shadow-lg {
	  box-shadow: 0 0 15px rgba(0,0,0,0.2)!important;
  }
  
  li span {
	cursor: pointer;
  }
  
  .nav-0 {
	background: #303030;
	color: #cccccc;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
  }

  @media screen and (min-width: 0px) {
	  .nav-0 .row ul.nav {
		justify-content: center!important;
	  }
  }

  @media screen and (min-width: 992px) {
	.nav-0 .row ul.nav.left{
	  justify-content: flex-start!important;
	}
	.nav-0 .row ul.nav.right{
		justify-content: flex-end!important;
	  }
}
  
  .nav-1 {
	background: #ff8e0a;
	height: 5rem;
	padding-top: 15px;
  }
  
  .nav-1 img {
	width: 30px;
  }
 
  
  .logo {
	display: inline-block;
	cursor: pointer;
  }
  
  .search {
	padding: 0 16px;
  }

  .search .form-control {
	  border-radius: 20px;
  }
  
  .search button {
	background: #e5e5ff;
	border: none;
	width: 50px;
	border-radius: 0;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
  }

  .search button:hover {
	background-color: #e5e5ff;
	color: #555555;
  }

  .search button:focus {
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
  }
  .cart {
	display: inline-block;
	color: #f7f7f7;
	cursor: pointer;
  }

  .cart-img {
	  position: relative;
  }

  .cart-d-count {
	  position: absolute;
	  top: -5px;
	  right: -5px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  width: 20px;
	  height: 20px;
	  font-size: 12px;
	  border-radius: 50%;
	  background-color: #fff;
	  color: #ff8e0a;
	  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  }

  .cart-text{
	  margin-left: 10px;
  }

  .cart-d-total {
	  font-size: 12px;
	  color: #f8f8f8;
  }

  .categories{
	padding-bottom: 40px;
}

#services{
  padding-bottom: 40px;
  background-image: white;
}

.services-img{
	width: 100px;
    margin-top: 10px;
    border-radius: 150px;
    height: 100px;
    object-fit: cover;
    box-shadow: 0 0 2px rgba(0,0,0,0.8);
}

.services{
  padding: 20px;
}

.services h4{
  text-transform: uppercase;
  padding: 5px;
  margin-top: 25px;
}
.title2{
	margin-left: 20px;
}

.wrap-1{
	padding-bottom: 40px;
}

.wrap-2{
	padding-bottom: 40px;
	padding-top: 40px;
}

.row-2{
	justify-content: space-between;
	margin:100px auto 50px;
}
select{
	color: #ff523b;
}
select:hover{
	background: #ff523b;
	color: white;
}

.btn-primary-outlined {
	border: 1px solid #ff8e0a;
}

.btn-primary-outlined:focus, .btn-primary-outlined:active {
	box-shadow: 0 0 2px 2px #ff8e0a80;
}
/* 
.col-4{
	flex-basis:25%;
	padding:10px;
	min-width:200px;
	margin-bottom 0.5s 50px;
	transition: transform;
}

.col-4 img{
	width:100%;
	height: 250px;
} */


/* Dropdown Button */

.dropdown-submenu {
    position: relative;
    margin-left: 30px;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
    outline: none;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;

}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
    
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;

}

.title{
	text-align: center;
	margin:0 auto 50px;
	position: relative;
	height: 50px;
	color: #555;

}


h4{
	color:#555;
	font-weight:normal;
}


.card{
	text-align:center;
	padding: 15px;
	/* box-shadow : 0 0 20px 0px rgba(0,0,0,0.1); */
	cursor:pointer;
	transition: 0.2s;
}

.brands{
	margin:25px auto;
	display: inline block;
}

.col-5{
	width:160px;
	
}

.col-5 img{
	cursor:pointer;
	width: 100px;
}

.col-5 img:hover{
	filter:grayscale(100%)
}




.p{
	margin: auto;
	margin-left: 30px;
	position: absolute;

}

.rounded{
	display: inline;
}


.items {
  margin-bottom: 25px;
}

.col-lg-3 .card {
  border: 1px solid #a9a9a9;
  border-radius: 15px;
  margin: 16px 0;
}

.card .card-img-top {
  width: 100%;
}

.card .card-body {
  display: inline-block;
  padding-top: 30px;
  height: 7rem;
}

.card-body li {
  font-size: 15px;
}

li {
  list-style: none;
}

.price {
  color: red;
}

.cat-body {
  margin-bottom: 40px;
}

.pagination > li > a {
  background-color: white;
  color: #686868;
}

.pagination > .active > a {
  color: white;
  background-color: #909090 !important;
  border: solid 1px #808080 !important;
}

.paragraph p{
	margin-left: 40px;
	font-weight: 400;
	font-family: sans-serif;
}

.paragraph h2{
	margin-left: 40px;
	font-weight: 400;
	font-family: sans-serif;
	
}

.paragraph{
	background: #f4f4f4;
	margin-bottom:-15px;
	padding-top: 10px;
}

footer {
  background: #303030;
  color: #cccccc;
  padding: 50px;
}

.foot h6 {
  margin-bottom: 20px;
}

.foot li {
  padding: 4px;
  font-size: 12px;
}

.download-from img {
  width: 130px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 10px;
}

.copyfont {
  padding: 20px;
  font-size: 12px;
}

.copyright img {
  cursor: pointer;
  padding: 5px;
  width: 60px;
}

.categories-dropdown-btn{
	border: 0;
	outline: 0;
	background: none;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 300;
}

.categories-dropdown-btn:focus{
	outline: 0;
}